/* Variable couleur */
$cfond: #fc984a;

body {
  background-color: $cfond;
  font-family: Poppins;
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}
li {
  list-style-type: none;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        padding: 15px;
        vertical-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          padding: 15px;
        }
      }
    }
  }
}
ul#boutons {
  display:flex;
  justify-content: space-around;
  margin-top:4em;
li {
  display:flex;
  flex-direction:column;
  text-align: center;
  img {
    max-height:200px;
  }
  span {
    margin-top:1em;
    font-size:1.5rem;
  }
}
}
